body{
    background-color: #92d896;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
.container{
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 50px;
}

input{
    width: 60%;
    padding: 10px;
    margin: 10px auto;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    display: block;
}

button{
    cursor: pointer;
}

button:active{
    transform: scale(0.90);
}

button:disabled{
    background-color: #7c7b7b;
    cursor: not-allowed;
}

.entrar{
    background-color: #0e7011;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.registrar{
    background-color: #0e3870;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.esqueci{
    background-color: #b68808;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.error{
    color: rgb(252, 249, 249);
    background: red;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 15px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

.password-error{
    color: rgb(252, 249, 249);
    background: red;
    margin-top: 3px;
    margin-bottom: 10px;
    font-size: 15px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    display: none;
}

.eye{
    position: relative;
    left: 220px;
    bottom: 45px;
    cursor: pointer;
    font-size: 20px;
}
